@import url("https://fonts.googleapis.com/css2?family=Livvic:wght@300;400;500;600;700;900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  width: 100%;
}

h1, h2, h3, p {
  font-family: 'Livvic', sans-serif;
}

.burger_menu-container {
  background-color: #014E56;
  padding: 20px;
}

.ham {
  position: fixed;
  z-index: 100;
  top: 20px;
  right: 15px;
  width: 40px;
  height: 40px;
  border: transparent;
  background: transparent;
  cursor: pointer;
  color: #FFFFFF;
}

.xIcon {
  display: none;
  top: 30px;
  position: absolute;
  right: 30px;
  color: #FFFFFF;
}

.menu {
  position: fixed;
  z-index: 99;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: #2c6269;
  color: white;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  list-style: none;
  padding: 100px 0 0 20px;
}

.menu svg {
  position: absolute;
  bottom: 300px;
}

.menu li, .menu button {
  margin: 30px 0 0 20px;
  color: #FFFFFF;
}

.menu a {
  text-decoration: none;
  color: #FFFFFF;
  display: inline-block;
  position: relative;
}

.menu a:hover::after {
  width: 100%;
  right: 0;
}

.menu a::after {
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  right: 0;
  position: absolute;
  background: #FFFFFF;
  -webkit-transition: width 1s ease 0s, right 0.5s ease 0s;
  transition: width 1s ease 0s, right 0.5s ease 0s;
  width: 0;
}

.menu button {
  padding: 6px;
  width: 150px;
  border-radius: 50px;
  border: 2px solid #FFFFFF;
  background-color: #2c6269;
}

.menu button:hover {
  background-color: #FFFFFF;
  color: #000000;
}

.showMenu {
  -webkit-transform: translateX(20%);
          transform: translateX(20%);
}

@media screen and (min-width: 768px) {
  .burger_menu-container {
    display: none;
  }
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    background-color: #014E56;
    padding: 40px;
  }
  .logo_link-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    padding: 0 200px 0 0;
  }
  ul li {
    list-style: none;
    margin: 0 0 0 15px;
  }
  ul li a {
    text-decoration: none;
    color: #FFFFFF;
    font-family: "Livvic", sans-serif;
    display: inline-block;
    position: relative;
  }
  ul li a:hover::after {
    width: 100%;
    left: 0;
  }
  ul li a::after {
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 0;
    position: absolute;
    background: #FFFFFF;
    -webkit-transition: width 1s ease 0s, right 0.5s ease 0s;
    transition: width 1s ease 0s, right 0.5s ease 0s;
    width: 0;
  }
  button {
    width: 30%;
    border-radius: 50px;
    background-color: #014E56;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
  }
  button:hover {
    background-color: #FFFFFF;
    color: #014E56;
  }
  .burger_menu-container {
    display: none;
  }
  header {
    padding: 0 200px;
  }
  .title_container h1 {
    font-size: 3rem;
  }
}

@media screen and (min-width: 1024px) {
  header {
    position: relative;
  }
  header svg {
    position: absolute;
    bottom: 1px;
    width: 35%;
  }
  .logo_link-container svg {
    width: 33%;
  }
  li {
    width: 30%;
  }
}

@media screen and (min-width: 1440px) {
  .logo_link-container svg {
    width: 25%;
  }
  li {
    width: 10%;
  }
  button {
    width: 15%;
  }
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
    padding: 50px 200px;
    height: 700px;
  }
  header .title_container {
    margin: 0;
    padding: 0;
    text-align: left;
  }
  header .title_container h1 {
    font-size: 5rem;
    line-height: 3.8rem;
    padding: 0 0 50px 0;
  }
  header .text_container {
    margin: 0;
    text-align: left;
  }
}

nav {
  display: none;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #014E56;
  color: #FFFFFF;
  padding: 40px 20px 0 20px;
}

header .title_container {
  margin: 0 0 15px 0;
  text-align: center;
  padding: 0 30px;
}

header .title_container span {
  color: #F67E7E;
}

header .text_container {
  margin: 0 0 100px 0;
  text-align: center;
  font-size: 1rem;
  line-height: 1.7rem;
}

.section_icons-container {
  padding: 100px 80px;
  position: relative;
  background-color: #012f34;
  color: #FFFFFF;
}

.section_icons-container::before {
  content: '';
  position: absolute;
  top: 110px;
  left: 80px;
  width: 10%;
  height: 5px;
  background-color: #F67E7E;
  border-radius: 20px;
}

.review_container {
  padding: 140px 30px 100px 30px;
  position: relative;
  background-color: #014E56;
  color: #FFFFFF;
}

.review_container .svg5_container {
  height: 50px;
  background-color: red;
}

.review_container .top_svg {
  position: absolute;
  top: 0;
  left: 0;
}

.review_container .bottom_svg {
  width: 45%;
  position: absolute;
  bottom: 0;
  right: 0;
}

.review_container h1 {
  margin: 50px 0 50px 0;
  line-height: 2rem;
  text-align: center;
}

.review_container span {
  color: #79c8c7;
}

.review_text-container {
  margin: 25px 0 40px 0;
}

.review_text-container .review_cell {
  text-align: center;
}

.review_text-container .review_cell span {
  font-size: 1rem;
  font-weight: bold;
}

.review_text-container img {
  width: 20%;
  border-radius: 50px;
  border: 2px solid #fff;
  margin: 10px 0 0 0;
}

.review_text-container .review_name {
  font-size: 0.7rem;
  font-style: italic;
  margin: 20px 0 0 0;
}

.home_contact-message-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 400px;
  background-color: #F67E7E;
  position: relative;
  font-size: 1.5rem;
  color: #004047;
}

.home_contact-message-container button {
  margin: 25px 0 0 0;
  width: 50%;
  padding: 15px;
  border-radius: 50px;
  border: 2px solid #004047;
  color: #004047;
  background-color: #F67E7E;
  font-family: "Livvic", sans-serif;
  font-weight: 800;
}

.home_contact-message-container button:hover {
  background-color: #004047;
  color: #F67E7E;
}

.home_contact-message-container .contact_svg {
  position: absolute;
  bottom: 0;
  left: 0;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 400px;
  background-color: #002529;
  color: #FFFFFF;
  font-weight: 600;
  font-family: "Livvic", sans-serif;
}

footer svg {
  width: 50%;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 0 20px;
  margin: 20px 0 20px 0;
  list-style: none;
}

footer ul a {
  width: 20%;
  text-decoration: none;
  color: #FFFFFF;
  text-decoration: none;
  display: inline-block;
  position: relative;
}

footer ul a:hover::after {
  width: 100%;
  right: 0;
}

footer ul a::after {
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  right: 0;
  position: absolute;
  background: #FFFFFF;
  -webkit-transition: width 1s ease 0s, right 0.5s ease 0s;
  transition: width 1s ease 0s, right 0.5s ease 0s;
  width: 0;
}

footer .footer_txt_adress {
  color: #9c9a9a;
  margin: 15px 0 15px 0;
}

footer .mobile_socials-container {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 0 0 0 20px;
  margin: 15px 0 15px 0;
}

footer .footer_copyright_mobile {
  color: #9c9a9a;
}

@media screen and (min-width: 768px) {
  .burger_menu-container {
    display: none;
  }
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    background-color: #014E56;
    padding: 40px;
  }
  .logo_link-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    padding: 0 200px 0 0;
  }
  ul li {
    list-style: none;
    margin: 0 0 0 15px;
  }
  ul li a {
    text-decoration: none;
    color: #FFFFFF;
    font-family: "Livvic", sans-serif;
    display: inline-block;
    position: relative;
  }
  ul li a:hover::after {
    width: 100%;
    left: 0;
  }
  ul li a::after {
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 0;
    position: absolute;
    background: #FFFFFF;
    -webkit-transition: width 1s ease 0s, right 0.5s ease 0s;
    transition: width 1s ease 0s, right 0.5s ease 0s;
    width: 0;
  }
  button {
    width: 30%;
    border-radius: 50px;
    background-color: #014E56;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
  }
  button:hover {
    background-color: #FFFFFF;
    color: #014E56;
  }
  .burger_menu-container {
    display: none;
  }
  header {
    padding: 0 200px;
  }
  .title_container h1 {
    font-size: 3rem;
  }
}

@media screen and (min-width: 1024px) {
  header {
    position: relative;
  }
  header svg {
    position: absolute;
    bottom: 1px;
    width: 35%;
  }
  .logo_link-container svg {
    width: 33%;
  }
  li {
    width: 30%;
  }
}

@media screen and (min-width: 1440px) {
  .logo_link-container svg {
    width: 25%;
  }
  li {
    width: 10%;
  }
  button {
    width: 15%;
  }
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
    padding: 50px 200px;
    height: 700px;
  }
  header .title_container {
    margin: 0;
    padding: 0;
    text-align: left;
  }
  header .title_container h1 {
    font-size: 5rem;
    line-height: 3.8rem;
    padding: 0 0 50px 0;
  }
  header .text_container {
    margin: 0;
    text-align: left;
  }
}
/*# sourceMappingURL=main.css.map */