@import url("https://fonts.googleapis.com/css2?family=Livvic:wght@300;400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Livvic:wght@300;400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Livvic:wght@300;400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Livvic:wght@300;400;500;600;700;900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  width: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  width: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  width: 100%;
}

.burger_menu-container {
  background-color: #014E56;
  padding: 20px;
}

.ham {
  position: fixed;
  z-index: 100;
  top: 20px;
  right: 15px;
  width: 40px;
  height: 40px;
  border: transparent;
  background: transparent;
  cursor: pointer;
  color: #FFFFFF;
}

.xIcon {
  display: none;
  top: 30px;
  position: absolute;
  right: 30px;
  color: #FFFFFF;
}

.menu {
  position: fixed;
  z-index: 99;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: #2c6269;
  color: white;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  list-style: none;
  padding: 100px 0 0 20px;
}

.menu svg {
  position: absolute;
  bottom: 300px;
}

.menu li, .menu button {
  margin: 30px 0 0 20px;
  color: #FFFFFF;
  font-family: "Livvic", sans-serif;
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
}

.menu a {
  text-decoration: none;
  color: #FFFFFF;
  display: inline-block;
  position: relative;
}

.menu a:hover::after {
  width: 100%;
  right: 0;
}

.menu a::after {
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  right: 0;
  position: absolute;
  background: #FFFFFF;
  -webkit-transition: width 1s ease 0s, right 0.5s ease 0s;
  transition: width 1s ease 0s, right 0.5s ease 0s;
  width: 0;
}

.menu button {
  padding: 6px;
  width: 150px;
  border-radius: 50px;
  border: 2px solid #FFFFFF;
  background-color: #2c6269;
}

.menu button:hover {
  background-color: #FFFFFF;
  color: #000000;
}

.showMenu {
  -webkit-transform: translateX(20%);
          transform: translateX(20%);
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #014E56;
  color: #FFFFFF;
  padding: 40px 20px 0 20px;
}

header .title_container {
  margin: 0 0 15px 0;
  font-family: "Livvic", sans-serif;
  font-size: 24px;
  line-height: 50px;
  font-weight: 500;
  text-align: center;
  padding: 0 30px;
}

header .title_container span {
  color: #F67E7E;
}

header .text_container {
  margin: 0 0 100px 0;
  text-align: center;
  font-family: "Livvic", sans-serif;
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
}

section {
  position: relative;
  padding: 70px 20px 0 20px;
  text-align: center;
  background-color: #012f34;
}

section::before {
  content: '';
  position: absolute;
  top: 30px;
  left: 20px;
  width: 30%;
  height: 5px;
  background-color: #F67E7E;
  border-radius: 20px;
}

section .special_svg {
  position: absolute;
  width: 28%;
  top: 0;
  right: 0;
}

section .section_text-container {
  font-family: "Livvic", sans-serif;
  font-size: 24px;
  line-height: 50px;
  font-weight: 500;
  color: #FFFFFF;
  line-height: 2rem;
  text-align: left;
  width: 70%;
}

.section_icons-container {
  padding: 50px 0 10px 0;
  text-align: center;
}

.section_icons-container .icon_cell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 50px 0;
  font-family: "Livvic", sans-serif;
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
  color: #FFFFFF;
}

.section_icons-container .title_coral {
  font-family: "Livvic", sans-serif;
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  color: #F67E7E;
  margin: 10px 0;
}

.section_icons-container .icon_super_cell {
  margin: auto;
  width: 26%;
}

.review_container {
  padding: 140px 30px 100px 30px;
  position: relative;
  background-color: #014E56;
  color: #FFFFFF;
}

.review_container .svg5_container {
  height: 50px;
  background-color: red;
}

.review_container .top_svg {
  position: absolute;
  top: 0;
  left: 0;
}

.review_container .bottom_svg {
  width: 45%;
  position: absolute;
  bottom: 0;
  right: 0;
}

.review_container h1 {
  font-family: "Livvic", sans-serif;
  font-size: 2rem;
  line-height: 48px;
  font-weight: 900;
  margin: 50px 0 50px 0;
  line-height: 2rem;
  text-align: center;
}

.review_container span {
  color: #79c8c7;
}

.review_text-container {
  margin: 25px 0 40px 0;
}

.review_text-container .review_cell {
  font-family: "Livvic", sans-serif;
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
  text-align: center;
}

.review_text-container .review_cell span {
  font-family: "Livvic", sans-serif;
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
  font-size: 1rem;
  font-weight: bold;
}

.review_text-container img {
  width: 20%;
  border-radius: 50px;
  border: 2px solid #fff;
  margin: 10px 0 0 0;
}

.review_text-container .review_name {
  font-size: 0.7rem;
  font-style: italic;
  margin: 20px 0 0 0;
}

.home_contact-message-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 400px;
  background-color: #F67E7E;
  position: relative;
  font-family: "Livvic", sans-serif;
  font-size: 2rem;
  line-height: 48px;
  font-weight: 900;
  font-size: 1.5rem;
  color: #004047;
}

.home_contact-message-container button {
  margin: 25px 0 0 0;
  width: 50%;
  padding: 15px;
  border-radius: 50px;
  border: 2px solid #004047;
  color: #004047;
  background-color: #F67E7E;
  font-family: "Livvic", sans-serif;
  font-weight: 800;
}

.home_contact-message-container button:hover {
  background-color: #004047;
  color: #F67E7E;
}

.home_contact-message-container .contact_svg {
  position: absolute;
  bottom: 0;
  left: 0;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 400px;
  background-color: #002529;
  color: #FFFFFF;
  font-weight: 600;
  font-family: "Livvic", sans-serif;
}

footer svg {
  width: 50%;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 0 20px;
  margin: 20px 0 20px 0;
  list-style: none;
}

footer ul a {
  width: 20%;
  text-decoration: none;
  color: #FFFFFF;
  text-decoration: none;
  display: inline-block;
  position: relative;
}

footer ul a:hover::after {
  width: 100%;
  right: 0;
}

footer ul a::after {
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  right: 0;
  position: absolute;
  background: #FFFFFF;
  -webkit-transition: width 1s ease 0s, right 0.5s ease 0s;
  transition: width 1s ease 0s, right 0.5s ease 0s;
  width: 0;
}

footer .footer_txt_adress {
  color: #9c9a9a;
  margin: 15px 0 15px 0;
}

footer .mobile_socials-container {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 0 0 0 20px;
  margin: 15px 0 15px 0;
}

footer .footer_copyright_mobile {
  color: #9c9a9a;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  width: 100%;
}

@media screen and (min-width: 375px) {
  section .section_icons-container .icon_cell .icon_super_cell {
    width: 22%;
  }
  footer svg {
    width: 40%;
  }
}
/*# sourceMappingURL=main.css.map */