@import url('https://fonts.googleapis.com/css2?family=Livvic:wght@300;400;500;600;700;900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {

    --color-prim-green: #014E56;
    --color-prim-coral: #F67E7E;
    --color-prim-white: #FFFFFF;
    
    --color-secondary-blue_rapture: #79c8c7;
    --color-secondary-blue_police: #2c6269;
    --color-secondary-blue_jungle: #004047;
    --color-secondary-green_state: #012f34;
    --color-secondary-green_dark: #002529;
}

.grid-container {
    background-color: #014E56;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);

    width: 100vw;
    

  }

.first_item {
  background-color: #79c8c7;
}
.first_item {
  background-color: #386d48;
}
.second_item {
  background-color: #176866;
}
.third_item {
  background-color: #8e79c8;
}
.forth_item {
  background-color: #96e5e7;
  grid-row:  2/4;
}
.five_item {
  background-color: #a84e7b;
}