body {
    width: initial;
}

.hero__container {
    background-color: var(--color-prim-green);
    padding-top: 3rem;
    position: relative;
}

.hero__container svg {
    position: absolute;
    bottom: -116px;
    right: 0px;
    width: 31%;
}
.directors__container {
    display: grid;
    background-color: var(--color-secondary-blue_jungle);

    grid-template-columns: 270px;
    grid-template-rows: repeat(6, minmax(250px, auto-fit));
    align-items: center;
    justify-content: center;

    row-gap: 3rem;
    column-gap: 3rem;

    padding: 8rem;
}
.directors__container img {
    border-radius: 70px;
    width: 40%;
    border: 2px solid var(--color-prim-white);
}
.avatar__cell {
    position: relative;
    height: 100%;
    background-color: var(--color-secondary-green_state);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 3rem;
}

.avatar__cell i {
    padding: 1rem;
    font-size: 2rem;
    background-color: var(--color-prim-coral);
    color: white;
    position: absolute;
    bottom: -20px;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 50px;
}
.avatar__name {
    color: var(--color-secondary-blue_rapture);
    font-size: 1.7rem;
    font-weight: bold;
    margin: .5rem 0 1rem 0;
}

.avatar__position {
    color: var(--color-prim-white);
    font-style: italic;
    font-size: 1.2rem;
}

.clients__container {
    width: 100%;
    background-color: var(--color-secondary-green_state);
    padding: 1rem 6rem;
}
.clients {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.clients :last-child {
    width: 50%;
}
.clients__container img {
    margin: 4rem;
    width: 75%;
}
.clients__title-container {
    background-color: var(--color-secondary-green_state);
}
.clients__title-container h1 {
    color: var(--color-prim-white);
    padding-top: 5rem;
    font-size: 4rem;
    font-weight: 600;
    line-height: 6rem;
    text-align: center;
}
/* 768 */
@media screen and (min-width: 768px) {
    .hero__container svg {
        width: 13%;
    }
    .directors__container {
        grid-template-columns: repeat(2, 270px);
    }
    .clients {
        display: flex;
        flex-direction: row;
    }
    .clients__container {
        padding: 5rem 6rem;
    }
    .clients__container img {
        margin: 1rem;
        width: 15%;
    }
    .clients :last-child {
        width: 10%;
    }
}

/* 1024 */
@media screen and (min-width: 1024px) {
    .hero__title {
        display: flex;
        align-items: self-start;
    }

    .hero__title h1 {
        text-align: center;
    }

    .hero__text::before {
        top: 5rem!important;
    }

    .hero__container svg {
        width: 9%;
    }
    .directors__container {
        grid-template-columns: repeat(3, 270px);
    }
}

/* 1440 */
@media screen and (min-width: 1440px) {
    .hero__title {
        align-items: center;
    }
    .hero__title h1 {
        padding: 0rem 0 20rem 4rem;
    }
    .hero__text {
        padding: 21rem 0rem 14rem 0rem;
    }
    .hero__container {
        grid-template-columns: 0.6fr 1fr;
    }
    .hero__text::before {
        top: 24rem!important;
        left: 12rem;
    }
    .hero__container svg {
        width: 7%;
    }
}

/* 1880 */
@media screen and (min-width:1880px) {
    .hero__title h1 {
        padding: 0rem 0 15rem 4rem;
    }
    .hero__text::before {
        left: 17rem;
    }
    .hero__text p {
        padding: 7rem 7rem 7rem 2rem;
    }
    .hero__container svg {
        width: 5%;
    }
    .directors__container {
        row-gap: 10rem;
        column-gap: 10rem;
    }
}

/* 2560 */
@media screen and (min-width: 2560px) {
    .nav__container {
        margin-bottom: -1px;
    }
    .hero__container svg {
        width: 4%;
    }
    .hero__text::before {
        left: 22rem;
        top: 19rem!important;
    }
    .directors__container {
        grid-template-columns: repeat(3, 350px);
    }
}