@import '_config'
@import '../components/_nav'
@import '../components/_burgerMenu'

nav
    display: none
header
    @include flex-center(column,center)
    background-color: $prim-green
    color: $prim-white
    padding: 40px 20px 0 20px
    .title_container
        margin: 0 0 15px 0
        h1
        @include title-h3($font-livvic)
        text-align: center
        padding: 0 30px
        span
            color: $prim-coral
    .text_container
        margin: 0 0 100px 0
        p
        text-align: center
        @include paragraph-small($font-livvic)

section
    position: relative
    padding: 70px 20px 0 20px
    text-align: center
    background-color: $secondary-green_state
    &::before
        content: ''
        position: absolute
        top: 30px
        left: 20px
        width: 30%
        height: 5px
        background-color: #F67E7E
        border-radius: 20px
    .special_svg
        position: absolute
        width: 28%
        top: 0
        right: 0
    .section_text-container
        h1
        @include title-h3($font-livvic)
        color: $prim-white
        line-height: 2rem
        text-align: left
        width: 70%
.section_icons-container
    padding: 50px 0 10px 0
    text-align: center
    .icon_cell
        @include flex-center(column, center)
        margin: 0 0 50px 0
        p
        @include paragraph-small($font-livvic)
        color: $prim-white
    .title_coral
        @include paragraph-big($font-livvic)
        color: $prim-coral
        margin: 10px 0
    .icon_super_cell
        margin: auto
        width: 26%

.review_container
    padding: 140px 30px 100px 30px
    position: relative
    background-color: $prim-green
    color: $prim-white
    .svg5_container
        height: 50px
        background-color: red
        .review_svg_botom
          pos
    .top_svg
        position: absolute
        top: 0
        left: 0
    .bottom_svg
        width: 45%
        position: absolute
        bottom: 0
        right: 0
    h1
       @include title-small($font-livvic)
       margin: 50px 0 50px 0
       line-height: 2rem
       text-align: center
    span
        color: $secondary-blue_rapture
.review_text-container
    margin: 25px 0 40px 0
    .review_cell
        p
        @include paragraph-small($font-livvic)
        text-align: center
        span
         @include paragraph-small($font-livvic)
         font-size: 1rem
         font-weight: bold
    img
        width: 20%
        border-radius: 50px
        border: 2px solid #fff
        margin: 10px 0 0 0 
    .review_name
        font-size: 0.7rem
        font-style: italic
        margin: 20px 0 0 0

.home_contact-message-container
    @include flex-center(column,center)
    text-align: center
    height: 400px
    background-color: $prim-coral
    position: relative
    h1
    @include title-small($font-livvic)
    font-size: 1.5rem
    color: $secondary-blue_jungle
    button
        margin: 25px 0 0 0
        width: 50%
        padding: 15px
        border-radius: 50px
        border: 2px solid $secondary-blue_jungle
        color: $secondary-blue_jungle
        background-color: $prim-coral
        font-family: $font-livvic
        font-weight: 800
        &:hover
            background-color: $secondary-blue_jungle
            color: $prim-coral
    .contact_svg
        position: absolute
        bottom: 0
        left: 0
footer
    .footer_mobile
    @include flex-center(column,center)
    text-align: center
    height: 400px
    background-color: $secondary-green_dark
    color: $prim-white
    font-weight: 600
    font-family: $font-livvic
    svg
        width: 50%
    ul
        display: flex
        justify-content: space-evenly
        padding: 0 20px
        margin: 20px 0 20px 0 
        list-style: none
        a
            width: 20%
            text-decoration: none
            color: $prim-white
            text-decoration: none
            display: inline-block
            position: relative
            &:hover::after
                width: 100%
                right: 0
            &::after
                bottom: 0
                content: ""
                display: block
                height: 2px
                right: 0
                position: absolute
                background: $prim-white
                transition: width 1s ease 0s, right 0.5s ease 0s
                width: 0 
    .footer_txt_adress
        color: #9c9a9a
        margin: 15px 0 15px 0
    .mobile_socials-container
        width: 50%
        display: flex
        justify-content: space-evenly
        padding: 0 0 0 20px
        margin: 15px 0 15px 0
    .footer_copyright_mobile
        color: #9c9a9a
